/* Config */

[x-cloak] { display: none !important; }

:root{
    --text: #f7eeee;
    --text-light: #fff8e4;
    --bg: #1f1f1f;
    --accent-bg: #2f2f2f;
    --preformatted: #d2cfc7;
    --code: #40d181;

    --accent-text: #fffff9;

    --accent: #197e4f;
    --accent-hover: #169071;

    --accent-danger: #d72f2f;
    --accent-danger-light: #ff3939;
    --accent-danger-border: #a92828;

    --accent-info: #2f7ed7;
    --accent-info-light: #5da4f6;
    --accent-info-border: #1f6ec7;
}


/* Spacing and Layout */

.flex-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .column-when-small {
        flex-direction: column;
    }
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gap-half {
    gap: 0.5rem;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.bottom-gap {
    margin-bottom: 1rem;
}

.h-100 {
    height: 100%;
}


/* Text */

div.strong {
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 100%;
}

/* Buttons */

button>svg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

button.danger {
    background-color: var(--accent-danger);
    border-color: var(--accent-danger-border);
}

button.danger:hover {
    background-color: var(--accent-danger-light);
    border-color: var(--accent-danger-border);
}

button.info {
    background-color: var(--accent-info);
    border-color: var(--accent-info-border);
}

button.info:hover {
    background-color: var(--accent-info-light);
    border-color: var(--accent-info-border);
}

/* Criteria */

code.requirement {
    color: var(--accent-info-light)
}

code.bonus {
    color: var(--accent)
}

code.discount {
    color: var(--accent-danger)
}

/* Other */
select, button, input {
    margin-bottom: 0;
}

/* Inputs */

label {
    cursor: pointer;
}

input[type="checkbox"] {
    cursor: pointer;
    margin: 3px;
}


.inline-edit {
    margin-bottom: 3px;
}

.inline-edit>input {
    padding-inline: 3px;
    padding-block: 1px;
}

.inline-edit>select {
    padding-block: 1px;
    padding-left: 3px;
    padding-right: 3ch;
}

.inline-edit>input[type="number"] {
    width: 6ch;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}